@model IList<StudentBookMapping>

@{
    ViewBag.Title = "IndexTableView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="row">
        <br />
        <div class="col-lg-3 table-bordered">
            <form action="/StudentBookMapping/IssueBook" method="post">
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <input type="hidden" id="StudentId" name="StudentId" class="form-control" value="@ViewBag.StudentId" />
                </div>
                <div class="form-group">
                    <label>Enter Book Code</label>
                    <input type="text" id="BookId" name="BookId" class="form-control" />
                </div>
                <div class="form-group">
                    <label>From</label>
                    <input type="text" disabled class="form-control" value="@DateTime.Today.ToString("yyyy-MM-dd")" />
                </div>
                <div class="form-group">
                    <label>To</label>
                    <input type="date" id="ToDate" name="ToDate" class="form-control" />
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-save-file"></i> Release</button>
                </div>
            </form>
        </div>
      <div class="col-lg-1"></div>
        <div class="col-lg-8">
            <div class="row">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Book Name</th>
                            <th>Issue Date</th>
                            <th>Due Date</th>
                            <th>Submission Date</th>
                            <th>Fine</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    @if (Model != null)
                    {
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Book.Name</td>
                                    <td>@item.IssueDate.ToString("dd-MMM-yyyy")</td>
                                    <td>@item.DueDate.ToString("dd-MMM-yyyy")</td>
                                    <td>@item.SubmissioDate </td>
                                    <td>@item.Fine </td>
                                    <td>
                                        @if (item.SubmissioDate == null)
                                        {
                                            <a href="/StudentBookMapping/Delete/@item.Id" class="btn btn-danger btn-xs">
                                                <i class="glyphicon glyphicon-trash"></i>Delete
                                            </a>

                                            <a href="/StudentBookMapping/ReturnBook/@item.Id" class="btn btn-warning btn-xs">
                                                <i class="glyphicon glyphicon-eject"></i>Return
                                            </a>
                                        }

                                    </td>
                                </tr>
                            }
                        </tbody>
                    }
                </table>
            </div>
        </div>
    </div>
</div>
